#mySmartCarouselID, .child{
	width:500px;
	height:500px;
}

.carousel-indicators li{
	background-color:#666;
}

.carousel-indicators .active{
	background-color:#dadada;
}

.child1{
  background-color:#00ff00;
}
.child2{
  background-color:#0000ff;
}
.child3{
  background-color:#ff0000;
}
.child4{
  background-color:#f0f000;
}
.child5{
  background-color:#afdfca;
}